<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    
<form method="GET">
    <input type="text" name="search" placeholder="Search products">
    <button type="submit">Search</button>
</form>

<div class="products">
    {% for product in products %}
    <div class="card">
        <img src="{{ product.image }}" width="200">
        <h3>{{ product.name }}</h3>
        <p>₹{{ product.price }}</p>
        <p>{{ product.description }}</p>

        <a href="{{ product.affiliate_link }}" target="_blank">
            Buy Now
        </a>

        <a href="{{ url_for('add-to-cart', product_id=product.id) }}">
            Add to Cart
        </a>
    </div>
    {% endfor %}
</div>

</body>
</html>